#example
INFLUX_URL=https://ap-northeast-1-1.aws.cloud2.influxdata.com
INFLUX_TOKEN=your-write-token-here
INFLUX_ORG=your-org-name
INFLUX_BUCKET=ups
UPS_HOST=ups@localhost
HOST_NAME=your-hostname
HOST_ROLE=ups_monitor
